<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="TokenRequestEndpointUrl" value="https://login.salesforce.com/services/oauth2/token" />
		<add key="ConsumerKey" value="3MVG98_Psg5cppyYRBy5N32z..JMRqgQ.YUMh8.uy0Er1MqoG4xB1pBOuvLq8vQ3tO6fePz_n0DOPO5r5rXyK" />
		<add key="ConsumerSecret" value="9104211313052889813" />
		<add key="Username" value="darren.west@artesiansolutions.com" />
		<add key="Password" value="salesforce1" />
		<add key="OrganizationId" value="00D58000000Zj7W" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
